.services {
    margin: 70px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service img {
    width: 100%;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}
#service2 img{
    width: 100%;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    margin-bottom: 50px;
}
#service2{
    flex-basis: 35%;
    font-size: 18px;
    
    
}
.service{
    flex-basis: 28%;
    font-size: 18px;
    padding: 6px 6px;
}
.service p{
    font-weight: 600;
    font-size: 22px;
    margin-top: 40px;
}
.service article{
    margin-top: 30px;
}
#service2 p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 60px;
} 
#service2 article{
    margin-bottom: 120px;
}
.service img:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
#service2 img:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
/* ----- media query ----- */
@media (max-width:700px){
    .services{
        flex-direction: column;
        margin: 30px auto;
    }
    .service{
        flex-basis: 100%;
        margin: 20px 10px;
       
    }
    .service img{
       top: 90px;
    }
    .service p{
        top: 30px;
    }

    }
    #service2{
        margin-top: 30px;
    }
    #service2 img{
        margin-top: 40px;
        bottom: 30px;
        
}
