.footer {
   margin: 10px auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-top: 1px solid #797979;
   padding: 15px 0;;
}
.footer ul i {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
#powered{
    font-size: 12px;
    margin-right: 150px;
    margin-bottom: 15px;
    display: inline-block;
}
/* ----- media query ----- */
@media(max-width: 650px){
    .footer{
        display: block;
        text-align: center;
    }
    .footer ul li {
        margin: 10px;
    } 
    .footer ul {
        margin-top: 10px,;
    }
    #powered{
        width: 100%;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}
@media(max-width: 950px){
    .footer{
        display: block;
        text-align: center;
    }
    .footer ul li {
        margin: 10px;
    } 
    .footer ul {
        margin-top: 10px,;
    }
    #powered{
        width: 100%;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}